html{
    background-color: bisque;
    color: black;
}
#one{
    background-color: red;

}
#two{
    background-color: green;
}
#three{
    background-color: blue;
}
#four{
    background-color: blueviolet;
}
.duck{
    height: 60px;
}